@{
	ViewBag.Title = "출금동의 서명요청";
}

<div id="content">
	<p class="heading1">Result</p>
	<br />
	<fieldset class="fieldset1">
		<legend>@ViewData["Title"]</legend>
		<ul>
            <li>ReceiptId (접수아이디) : @Model.receiptId</li>
            <li>Scheme (앱스킴) : @Model.scheme</li>
		</ul>
	</fieldset>
</div>
