@{
	ViewBag.Title = "전자서명 요청(단건)";
}

<div id="content">
	<p class="heading1">Result</p>
	<br />
	<fieldset class="fieldset1">
		<legend>@ViewData["Title"]</legend>
        <ul>
            <li>ReceiptID (접수아이디) : @Model.receiptID</li>
            <li>Scheme (앱스킴) : @Model.scheme</li>
        </ul>
	</fieldset>
</div>
