@{
	ViewBag.Title = "Barocert Kakaocert Service SDK ASP.NET Core Example.";
}

<div id="content">
	<p class="heading1">@ViewData["Title"]</p>
	<br />
	<fieldset class="fieldset1">
		<legend>전자서명 API</legend>
		<ul>
			<li><a href="Kakaocert/RequestESign">RequestESign</a> - 전자서명 요청(단건)</li>
			<li><a href="Kakaocert/BulkRequestESign">BulkRequestESign</a> - 전자서명 요청(다건)</li>
			<li><a href="Kakaocert/GetESignState">GetESignState</a> -전자서명 상태확인(단건)</li>
			<li><a href="Kakaocert/GetBulkESignState">GetBulkESignState</a> - 전자서명 상태확인(다건)</li>
			<li><a href="Kakaocert/VerifyESign">VerifyESign</a> - 전자서명 검증(단건)</li>
			<li><a href="Kakaocert/BulkVerifyESign">BulkVerifyESign</a> - 전자서명 검증(다건)</li>
		</ul>
	</fieldset>
	<br />
	<fieldset class="fieldset1">
		<legend>본인인증 API</legend>
		<ul>
			<li><a href="Kakaocert/RequestVerifyAuth">RequestVerifyAuth</a> - 본인인증 요청</li>
			<li><a href="Kakaocert/GetVerifyAuthState">GetVerifyAuthState</a> - 본인인증 상태확인</li>
			<li><a href="Kakaocert/VerifyAuth">VerifyAuth</a> - 본인인증 검증</li>
		</ul>
	</fieldset>
	<br />
	<fieldset class="fieldset1">
		<legend>출금동의 API</legend>
		<ul>
			<li><a href="Kakaocert/RequestCMS">RequestCMS</a> - 출근동의 요청</li>
			<li><a href="Kakaocert/GetCMSState">GetCMSState</a> - 출금동의 상태확인</li>
			<li><a href="Kakaocert/VerifyCMS">VerifyCMS</a> - 출금동의 검증</li>
		</ul>
	</fieldset>

</div>
