@{
	ViewBag.Title = "카카오 본인인증 요청";
}

<div id="content">
	<p class="heading1">Response</p>
	<br />
	<fieldset class="fieldset1">
		<legend>@ViewData["Title"]</legend>
		<ul>
			<li>ReceiptID (접수아이디) : @Model.receiptID</li>
			<li>Scheme (앱스킴) : @Model.scheme</li>
		</ul>
	</fieldset>
</div>